.gradient {
   position: relative;
   background-image: repeating-linear-gradient(
     to right,
     #000000,
     #323232,
     #4b4b4b,
     #dddddd,
     #000000
   );
   z-index: 1;
   background-position-x: 0%;
   background-size: 200%;
   animation: gradimate 3s linear infinite;
   background-clip: text;
   filter: blur(5px);
 }
 
 @keyframes gradimate {
   0% {
     background-position-x: 0%;
   }
   50% {
     background-position-x: 100%;
   }
   100% {
     background-position-x: 200%;
   }
 }